Repository hicommonwealth/commonwealth, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Rotorsoft, @dillchen, @timolegros, @kurtassad, @rbennettcw, @mzparacha, @masvelio

Remove vars in scss and renamed variable
  packages/commonwealth/client/scripts/state/api/user/getMutualConnections.ts
  packages/commonwealth/client/scripts/state/api/user/index.ts
  packages/commonwealth/client/scripts/views/components/Profile/ProfileHeader/ProfileHeader.scss
  packages/commonwealth/client/scripts/views/components/Profile/ProfileHeader/ProfileHeader.tsx
Owners: @mzparacha, @masvelio

Empty commit
  README.md
Owners: @Rotorsoft, @dillchen, @timolegros

clean dependencies
  libs/adapters/package.json
  libs/evm-testing/package.json
  libs/model/package.json
  package.json
  packages/commonwealth/package.json
  pnpm-lock.yaml
Owners: @timolegros, @Rotorsoft, @kurtassad, @rbennettcw, @dillchen

add script
  scripts/super-diff.sh
Owners: @timolegros, @kurtassad, @Rotorsoft, @rbennettcw

fix types
  libs/adapters/src/trpc/builder.ts
  libs/adapters/src/trpc/handlers.ts
  libs/core/src/framework/event.ts
  libs/core/src/framework/query.ts
  libs/model/src/aggregates/user/GetMutualConnections.query.ts
  libs/schemas/src/queries/thread.schemas.ts
  libs/schemas/src/queries/user.schemas.ts
Owners: @timolegros, @Rotorsoft, @kurtassad, @rbennettcw

remove comment
  libs/adapters/src/trpc/handlers.ts
  scripts/super-diff.sh
Owners: @timolegros, @Rotorsoft, @kurtassad, @rbennettcw

Added governance address backend
  libs/model/src/aggregates/token/CommunityNamespaceCreated.command.ts
  libs/model/src/aggregates/token/index.ts
  libs/model/src/models/community.ts
  libs/model/src/policies/Launchpad.policy.ts
  libs/schemas/src/commands/token.schemas.ts
  libs/schemas/src/entities/community.schemas.ts
  libs/schemas/src/events/events.schemas.ts
  packages/commonwealth/server/migrations/20250617105059-namespace-governance-address.js
Owners: @timolegros, @Rotorsoft, @kurtassad, @rbennettcw

fix types 2
  libs/adapters/src/trpc/builder.ts
  libs/core/src/framework/query.ts
Owners: @timolegros, @Rotorsoft, @kurtassad, @rbennettcw

feat(explore): add token trading from community card
  packages/commonwealth/client/scripts/hooks/useCommunityToken.tsx
  packages/commonwealth/client/scripts/views/components/component_kit/new_designs/CWRelatedCommunityCard/CWRelatedCommunityCard.tsx
  packages/commonwealth/client/scripts/views/pages/ExplorePage/CommunitiesList/CommunitiesList.tsx
Owners: @mzparacha, @masvelio

reconcile
  libs/core/src/framework/query.ts
  libs/core/src/framework/types.ts
  libs/model/src/aggregates/user/GetMutualConnections.query.ts
  libs/model/src/middleware/turnstile.ts
Owners: @timolegros, @Rotorsoft, @kurtassad, @rbennettcw

fix contest creation and solana funding
  packages/commonwealth/client/scripts/helpers/SolanaContractHelpers/index.ts
  packages/commonwealth/client/scripts/helpers/SolanaContractHelpers/solanaUtils.ts
  packages/commonwealth/client/scripts/state/api/contests/fundSolanaContestOnchain.ts
  packages/commonwealth/client/scripts/views/pages/CommunityManagement/Contests/AdminContestsPage/AdminContestsPage.tsx
  packages/commonwealth/client/scripts/views/pages/CommunityManagement/Contests/ContestsList/ContestsList.tsx
  packages/commonwealth/client/scripts/views/pages/CommunityManagement/Contests/FundContestDrawer/FundContestDrawer.tsx
  packages/commonwealth/client/scripts/views/pages/CommunityManagement/Contests/FundContestDrawer/steps/FundContestFailure/FundContestFailure.tsx
  packages/commonwealth/client/scripts/views/pages/CommunityManagement/Contests/FundContestDrawer/steps/FundContestForm/FundContestForm.tsx
  packages/commonwealth/client/scripts/views/pages/CommunityManagement/Contests/FundContestDrawer/steps/FundContestSuccess/FundContestSuccess.tsx
  packages/commonwealth/client/scripts/views/pages/CommunityManagement/Contests/ManageContest/steps/DetailsFormStep/ContestTopicDescription.tsx
  packages/commonwealth/client/scripts/views/pages/CommunityManagement/Contests/ManageContest/steps/SignTransactionsStep/SignTransactionsStep.tsx
  packages/commonwealth/client/scripts/views/pages/CommunityManagement/Contests/utils.ts
Owners: @mzparacha, @masvelio

enable contest cards
  packages/commonwealth/client/scripts/views/pages/CommunityManagement/Contests/AdminContestsPage/AdminContestsPage.tsx
  packages/commonwealth/client/scripts/views/pages/CommunityManagement/Contests/ContestsList/ContestsList.tsx
  packages/commonwealth/client/scripts/views/pages/CommunityManagement/Contests/ManageContest/steps/DetailsFormStep/DetailsFormStep.tsx
  packages/commonwealth/client/scripts/views/pages/CommunityManagement/Contests/ManageContest/steps/SignTransactionsStep/SignTransactionsStep.tsx
  packages/commonwealth/client/scripts/views/pages/CommunityManagement/Contests/ManageContest/types.ts
  packages/commonwealth/client/scripts/views/pages/CommunityManagement/Contests/useCommunityContests.ts
  packages/commonwealth/client/scripts/views/pages/CommunityManagement/Contests/utils.ts
Owners: @mzparacha, @masvelio

first pass
  libs/adapters/src/rabbitmq/RabbitMQAdapter.ts
  libs/adapters/src/rabbitmq/createRmqConfig.ts
  libs/core/src/ports/interfaces.ts
  libs/model/src/aggregates/user/Xp.projection.ts
  packages/commonwealth/server/bindings/rascalConsumerMap.ts
Owners: @timolegros, @Rotorsoft, @kurtassad, @rbennettcw

remove mocked error
  libs/model/src/aggregates/user/Xp.projection.ts
Owners: @timolegros, @Rotorsoft, @kurtassad, @rbennettcw

fix lint
  libs/adapters/src/rabbitmq/createRmqConfig.ts
  packages/commonwealth/server/bindings/rascalConsumerMap.ts
Owners: @timolegros, @Rotorsoft, @kurtassad, @rbennettcw

Refactor node fetching logic: replace axios call with trpcQueryUtils for improved integration with react-query and update related cache handling.
  packages/commonwealth/client/scripts/state/api/nodes/fetchNodes.ts
Owners: @mzparacha, @masvelio

remove new @import
  packages/commonwealth/client/scripts/views/components/NewThreadFormLegacy/ToketWidget/TokenWidget.scss
Owners: @mzparacha, @masvelio

fix merge issue
  packages/commonwealth/client/scripts/views/components/NewThreadFormLegacy/NewThreadForm.scss
Owners: @mzparacha, @masvelio

fix all new SCSS usages since master merge
  packages/commonwealth/client/scripts/views/components/NewThreadFormLegacy/ToketWidget/TokenWidget.scss
  packages/commonwealth/client/scripts/views/components/Profile/ProfileHeader/ProfileHeader.scss
Owners: @mzparacha, @masvelio

Delete empty quest submission on quest form error
  packages/commonwealth/client/scripts/views/pages/CreateQuest/QuestForm/useQuestForm.ts
Owners: @mzparacha, @masvelio

Add export private key option to user menu
  packages/commonwealth/client/scripts/views/components/SublayoutHeader/useUserMenuItems.tsx
Owners: @mzparacha, @masvelio

Fix ui
  packages/commonwealth/client/scripts/views/pages/ExplorePage/ExplorePage.scss
  packages/commonwealth/client/scripts/views/pages/ExplorePage/ThreadFeed/ThreadFeed.tsx
Owners: @mzparacha, @masvelio

PR comments
  libs/evm-protocols/package.json
  libs/evm-protocols/src/index.ts
  libs/model/src/models/factories.ts
  libs/model/src/models/lastProcessedSolanaSlot.ts
  libs/model/src/services/solanaChainEvents/SolanaIDLs/Devnet/single_contest.json
  libs/model/src/services/solanaChainEvents/chain-event-utils.ts
  libs/model/src/services/solanaChainEvents/index.ts
  libs/model/src/services/solanaChainEvents/solanaIdlLoader.ts
  packages/commonwealth/package.json
  packages/commonwealth/server/migrations/20250520120000-create-last-processed-solana-slots.js
  packages/commonwealth/server/workers/solanaChainEvents/logProcessing.ts
  packages/commonwealth/server/workers/solanaChainEvents/nodeProcessing.ts
  pnpm-lock.yaml
Owners: @timolegros, @Rotorsoft, @kurtassad, @rbennettcw, @dillchen

fix pr comment
  libs/model/src/services/solanaChainEvents/chain-event-utils.ts
  libs/model/src/services/solanaChainEvents/types.ts
  packages/commonwealth/server/workers/solanaChainEvents/logProcessing.ts
Owners: @timolegros, @Rotorsoft, @kurtassad, @rbennettcw

Fix filters css
  packages/commonwealth/client/scripts/views/pages/ExplorePage/AllTabContent/AllTabContent.tsx
  packages/commonwealth/client/scripts/views/pages/ExplorePage/CommunitiesList/CommunitiesList.scss
  packages/commonwealth/client/scripts/views/pages/ExplorePage/CommunitiesList/CommunitiesList.tsx
  packages/commonwealth/client/scripts/views/pages/ExplorePage/ExploreContestList/ExploreContestList.scss
  packages/commonwealth/client/scripts/views/pages/ExplorePage/ExploreContestList/ExploreContestList.tsx
  packages/commonwealth/client/scripts/views/pages/ExplorePage/ExplorePage.scss
  packages/commonwealth/client/scripts/views/pages/ExplorePage/QuestList/QuestList.scss
  packages/commonwealth/client/scripts/views/pages/ExplorePage/ThreadFeed/ThreadFeed.scss
  packages/commonwealth/client/scripts/views/pages/ExplorePage/ThreadFeed/ThreadFeed.tsx
  packages/commonwealth/client/scripts/views/pages/ExplorePage/TokensList/TokensList.scss
  packages/commonwealth/client/scripts/views/pages/ExplorePage/TokensList/TokensList.tsx
Owners: @mzparacha, @masvelio

fix Binance web wallet
  packages/commonwealth/client/scripts/controllers/app/webWallets/binance_web_wallet.ts
  packages/commonwealth/client/vite.config.ts
Owners: @mzparacha, @masvelio

add handler
  libs/adapters/src/rabbitmq/RabbitMQAdapter.ts
  libs/core/src/ports/in-memory-brokers.ts
  libs/core/src/ports/interfaces.ts
  packages/commonwealth/server/bindings/bootstrap.ts
Owners: @timolegros, @Rotorsoft, @kurtassad, @rbennettcw

fix lint
  libs/adapters/src/rabbitmq/RabbitMQAdapter.ts
Owners: @timolegros, @Rotorsoft, @kurtassad, @rbennettcw

merge master
  libs/schemas/src/queries/thread.schemas.ts
  scripts/super-diff.sh
Owners: @timolegros, @Rotorsoft, @kurtassad, @rbennettcw

...
  packages/commonwealth/client/scripts/views/components/PrivyMobile/PrivyMobileAuthenticator.tsx
Owners: @mzparacha, @masvelio

updated 'should rank' logic
  libs/model/src/aggregates/super-admin/ReRankThreads.command.ts
  packages/commonwealth/server/api/comment.ts
  packages/commonwealth/server/api/ranking.ts
  packages/commonwealth/server/api/thread.ts
Owners: @timolegros, @Rotorsoft, @kurtassad, @rbennettcw

Fixed evm tests
  libs/evm-protocols/src/common-protocol/chainConfig.ts
  packages/commonwealth/test/devnet/integration/event-processing-lifecycle.spec.ts
  packages/commonwealth/test/devnet/integration/integrationUtils/process-setup/setupAnvil.ts
Owners: @timolegros

Removed unused code
  packages/commonwealth/test/devnet/integration/integrationUtils/mainSetup.ts
  packages/commonwealth/test/devnet/integration/integrationUtils/process-setup/setupAnvil.ts
  packages/commonwealth/test/devnet/integration/token-staking-lifecycle.spec.ts
Owners: none

updated 'should rank' logic
  libs/model/src/aggregates/comment/DeleteComment.command.ts
  libs/model/src/aggregates/super-admin/ReRankThreads.command.ts
  libs/schemas/src/commands/comment.schemas.ts
  packages/commonwealth/server/api/comment.ts
  packages/commonwealth/server/api/ranking.ts
  packages/commonwealth/server/api/thread.ts
Owners: @timolegros, @Rotorsoft, @kurtassad, @rbennettcw

cleanup
  packages/commonwealth/client/scripts/state/api/contests/deploySolanaContestOnchain.ts
  packages/commonwealth/client/scripts/views/pages/CommunityManagement/Contests/FundContestDrawer/FundContestDrawer.tsx
  packages/commonwealth/client/scripts/views/pages/CommunityManagement/Contests/FundContestDrawer/steps/FundContestForm/FundContestForm.tsx
  packages/commonwealth/client/scripts/views/pages/CommunityManagement/Contests/ManageContest/steps/SignTransactionsStep/SignTransactionsStep.tsx
Owners: @mzparacha, @masvelio

lint
  libs/model/src/aggregates/super-admin/ReRankThreads.command.ts
  packages/commonwealth/client/scripts/views/pages/AdminPanel/RerankThreads.tsx
  packages/commonwealth/server/api/comment.ts
  packages/commonwealth/server/api/ranking.ts
  packages/commonwealth/server/api/thread.ts
Owners: @timolegros, @Rotorsoft, @kurtassad, @rbennettcw, @mzparacha, @masvelio

.github/CODEOWNERS:

# By default any code not covered by the below owners
* @Rotorsoft @dillchen @timolegros

# Code owner changes must be reviewed by Dillon
/.github/CODEOWNERS @dillchen

# Changes to CI or code/deployment processes must be reviewed by the Platform team
.github @timolegros @kurtassad @Rotorsoft @rbennettcw
.husky @timolegros @kurtassad @Rotorsoft @rbennettcw
/scripts/ @timolegros @kurtassad @Rotorsoft @rbennettcw

# Libs
/libs/ @timolegros @Rotorsoft @kurtassad @rbennettcw
/libs/sitemaps/ @timolegros @kurtassad
/libs/evm-testing/ @timolegros
/libs/evm-protocols/ @timolegros

# Packages
/packages/commonwealth/ @timolegros @Rotorsoft @kurtassad @rbennettcw
/packages/commonwealth/client @mzparacha @masvelio
/packages/commonwealth/load-testing/ @timolegros

# WARNING: this disables code owners so it MUST be paired with code review limits to prevent approvals of PRs by GitHub
# users that do NOT have explicit read or higher access to the repository. See the followings docs for info:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/managing-repository-settings/managing-pull-request-reviews-in-your-repository
/libs/shared/
/packages/commonwealth/package.json
/packages/commonwealth/shared/
/common_knowledge/
/packages/commonwealth/.gitignore
/packages/commonwealth/.eslintignore
**/test/
