Repository hicommonwealth/commonwealth, pull requests merged in 2023-07, with the labels that each got.

#4389 Create a Polygon whitelabeled create community form + Fix Adjacent Bugs
  packages/commonwealth/client/scripts/views/components/component_kit/cw_dropdown.tsx
  packages/commonwealth/client/scripts/views/pages/create_community/chain_input_rows.tsx
  packages/commonwealth/client/scripts/views/pages/create_community/index.tsx
  packages/commonwealth/client/scripts/views/pages/create_community/polygon_form.tsx
  packages/commonwealth/client/scripts/views/pages/create_community/types.ts
  packages/commonwealth/server/routes/createChain.ts
Labels: 1

#4359 Quill Editor - Design update
  packages/commonwealth/client/scripts/views/components/Comments/CreateComment.tsx
  packages/commonwealth/client/scripts/views/components/NewThreadForm/NewThreadForm.tsx
  packages/commonwealth/client/scripts/views/components/component_kit/cw_component_showcase.tsx
  packages/commonwealth/client/scripts/views/components/component_kit/cw_icons/cw_icon_lookup.ts
  packages/commonwealth/client/scripts/views/components/react_quill_editor/react_quill_editor.tsx
  packages/commonwealth/client/scripts/views/components/react_quill_editor/toolbar.tsx
  packages/commonwealth/client/scripts/views/components/react_quill_editor/toolbarIcons.tsx
  packages/commonwealth/client/scripts/views/components/react_quill_editor/utils.tsx
  packages/commonwealth/client/scripts/views/pages/discussions/CommentCard/index.tsx
  packages/commonwealth/client/scripts/views/pages/view_thread/edit_body.tsx
  packages/commonwealth/client/styles/components/NewThreadForm.scss
  packages/commonwealth/client/styles/components/component_kit/cw_component_showcase.scss
  packages/commonwealth/client/styles/components/react_quill/react_quill_editor.scss
  packages/commonwealth/client/styles/shared.scss
  packages/commonwealth/package.json
  packages/commonwealth/server/routes/searchProfiles.ts
  packages/commonwealth/static/fonts/fonts.css
Labels: design system

#4141 Add new RadioButton design
  packages/commonwealth/.storybook/stories/components/RadioButton.stories.tsx
  packages/commonwealth/client/scripts/views/components/component_kit/new_designs/cw_radio_button.tsx
  packages/commonwealth/client/styles/components/component_kit/new_designs/cw_radio_button.scss
  packages/commonwealth/client/styles/mixins/choice.scss
Labels: design system, Design System Update

#4255 Adds new Design System to Toggle component
  packages/commonwealth/.storybook/stories/components/Toggle.stories.tsx
  packages/commonwealth/client/scripts/views/components/component_kit/cw_component_showcase.tsx
  packages/commonwealth/client/scripts/views/components/component_kit/new_designs/cw_toggle.tsx
  packages/commonwealth/client/styles/components/component_kit/new_designs/cw_toggle.scss
Labels: design system, Design System Update

#4358 Adds new Design System ThreadAction component
  packages/commonwealth/.storybook/stories/components/ThreadActions.stories.tsx
  packages/commonwealth/client/scripts/views/components/component_kit/cw_component_showcase.tsx
  packages/commonwealth/client/scripts/views/components/component_kit/new_designs/cw_thread_action.tsx
  packages/commonwealth/client/scripts/views/components/component_kit/types.ts
  packages/commonwealth/client/styles/components/component_kit/cw_component_showcase.scss
  packages/commonwealth/client/styles/components/component_kit/new_designs/cw_thread_action.scss
Labels: Design System Update

#4339 Adds new Design System Upvotes component
  packages/commonwealth/.storybook/stories/components/Upvote.stories.tsx
  packages/commonwealth/client/scripts/views/components/component_kit/cw_component_showcase.tsx
  packages/commonwealth/client/scripts/views/components/component_kit/new_designs/cw_upvote.tsx
  packages/commonwealth/client/scripts/views/components/component_kit/types.ts
  packages/commonwealth/client/styles/components/component_kit/cw_component_showcase.scss
  packages/commonwealth/client/styles/components/component_kit/new_designs/cw_upvote.scss
Labels: design system, Design System Update

#2930 Wrote migration script to migrate images to be behind CDN
  packages/commonwealth/client/scripts/helpers/awsHelpers.ts
  packages/commonwealth/client/scripts/views/components/Avatar/AvatarUpload.tsx
  packages/commonwealth/client/scripts/views/components/component_kit/cw_cover_image_uploader.tsx
  packages/commonwealth/client/scripts/views/components/react_quill_editor/utils.tsx
  packages/commonwealth/scripts/compressImages.ts
  packages/commonwealth/server/migrations/20230427135812-image-cdn-migration.js
  packages/commonwealth/server/routes/generateImage.ts
  packages/commonwealth/server/routes/getUploadSignature.ts
  packages/commonwealth/server/scripts/imagesUrlMigration.ts
Labels: Performance

#3888 "One click" - Creating snapshot from thread
  packages/commonwealth/client/scripts/controllers/chain/snapshot.ts
  packages/commonwealth/client/scripts/views/modals/new_snapshot_proposal_modal.tsx
  packages/commonwealth/client/scripts/views/pages/manage_community/chain_metadata_rows.tsx
  packages/commonwealth/client/scripts/views/pages/new_snapshot_proposal/helpers.ts
  packages/commonwealth/client/scripts/views/pages/new_snapshot_proposal/index.tsx
  packages/commonwealth/client/scripts/views/pages/view_thread/ViewThreadPage.tsx
  packages/commonwealth/client/scripts/views/pages/view_thread/snapshot_creation_card.tsx
  packages/commonwealth/client/styles/modals/new_snapshot_proposal_modal.scss
  packages/commonwealth/client/styles/pages/new_snapshot_proposal.scss
  packages/commonwealth/client/styles/pages/view_thread/snapshot_creation_card.scss
Labels: enhancement

#4400 #4118: thread tag design
  packages/commonwealth/.storybook/stories/atoms/Button.stories.tsx
  packages/commonwealth/.storybook/stories/components/atoms/Button.stories.tsx
  packages/commonwealth/.storybook/stories/components/atoms/Tag.stories.tsx
  packages/commonwealth/client/scripts/views/components/component_kit/cw_component_showcase.tsx
  packages/commonwealth/client/scripts/views/components/component_kit/cw_icons/cw_icon_lookup.ts
  packages/commonwealth/client/scripts/views/components/component_kit/cw_icons/cw_icons.tsx
  packages/commonwealth/client/scripts/views/components/component_kit/cw_tag.tsx
  packages/commonwealth/client/scripts/views/components/component_kit/new_designs/cw_tag.tsx
  packages/commonwealth/client/scripts/views/components/user/user.tsx
  packages/commonwealth/client/scripts/views/pages/discussions/NewThreadTag.tsx
  packages/commonwealth/client/scripts/views/pages/discussions/ThreadCard/AuthorAndPublishInfo/AuthorAndPublishInfo.tsx
  packages/commonwealth/client/scripts/views/pages/discussions/ThreadCard/Options/index.scss
  packages/commonwealth/client/scripts/views/pages/discussions/ThreadCard/ThreadCard.scss
  packages/commonwealth/client/scripts/views/pages/discussions/ThreadCard/ThreadCard.tsx
  packages/commonwealth/client/styles/components/component_kit/cw_component_showcase.scss
  packages/commonwealth/client/styles/components/component_kit/cw_tag.scss
  packages/commonwealth/client/styles/components/component_kit/new_designs/cw_tag.scss
  packages/commonwealth/client/styles/components/user/user.scss
  packages/commonwealth/client/styles/mixins/border_radius.scss
Labels: Design System Update

#4593 Design System - Banners and alerts
  packages/commonwealth/.storybook/preview-head.html
  packages/commonwealth/.storybook/stories/button.css
  packages/commonwealth/.storybook/stories/components/Alert.stories.tsx
  packages/commonwealth/.storybook/stories/components/Banner.stories.tsx
  packages/commonwealth/client/scripts/views/components/component_kit/cw_component_showcase.tsx
  packages/commonwealth/client/scripts/views/components/component_kit/new_designs/CWBanner.tsx
  packages/commonwealth/client/styles/components/component_kit/cw_component_showcase.scss
Labels: design system, Design System Update
